
table{
    display: table;
    width: 100%;
    border: thin solid black;
    border-spacing: 2px;
}
title {
    display: table-caption;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    font-family:verdana;
}
cols {
    display: table-column-group;
}
cols col{
    display: table-column;
}
headings {
    display: table-row-group;
    background-color:#F5F5F5;
    font-weight:bold;
    font-size:18px;
    font-family:verdana;
}
row {
    display: table-row;   
}
row > * {
    display: table-cell;
    padding: 5px;
}
values{
    display: table-footer-group;
    
    border: thin solid black;
}

headings > row > * {
    border: thin solid black;
    text-align: center;
}

values > row > *{
    background-color:#FFFAAA;
    text-align: center;
}